$viewport--toggler-supports-smartphone: true !default;
$viewport--toggler-supports-phablet: true !default;
$viewport--toggler-supports-tablet: true !default;
$viewport--toggler-supports-tablet-landscape: true !default;
$viewport--toggler-supports-desktop: true !default;
$viewport--toggler-supports-widescreen: true !default;
$viewport--toggler-supports-highroller: true !default;